In [1]:
from demoparser2 import DemoParser
import pandas as pd
import numpy as np

In [ ]:
parser = DemoParser("demos/003733152704298483830_0335691126.dem")

In [71]:
#parser.parse_header()

In [231]:
steamid_name_map = parser.parse_player_info()[["steamid", "name"]].set_index("steamid").to_dict()["name"]
steamid_name_map

{76561198795628102: '20 TE MATAR 70 CORRER',
 76561198845004604: 'VAI TOMANDO',
 76561198361860424: 'ar7C',
 76561198264751454: 'endmostttJ',
 76561198876987759: 'jv',
 76561198275493780: 'Tomusz',
 76561198057334495: 'Salies',
 76561198954173928: 'ZezinS CSGOSKINS',
 76561199162845943: 'Matheuss_bfr',
 76561198202386377: 'mtk'}

In [152]:
all_events = parser.parse_events(["player_death", "cs_win_panel_match", "round_officially_ended"], other=["total_rounds_played"])

In [153]:
end_match_df = next((df for event_name, df in all_events if event_name == 'cs_win_panel_match'), None)
end_match_df

     tick  total_rounds_played
0  139678                   23

In [154]:
last_tick = end_match_df["tick"].max()
rounds_played = end_match_df["total_rounds_played"].max()
last_tick, rounds_played

(np.int32(139678), np.int32(23))

In [ ]:
player_properties = ["kills_total", "deaths_total", "damage_total"]
player_data_df = parser.parse_ticks(player_properties, ticks=[last_tick])
player_data_df["kpr"] = player_data_df["kills_total"] / rounds_played
player_data_df["dpr"] = player_data_df["deaths_total"] / rounds_played
player_data_df["adr"] = player_data_df["damage_total"] / rounds_played
player_data_df

,kills_total,deaths_total,alive_time_total,damage_total,tick,steamid,name,kpr,dpr,adr
0,18,15,512,1806,139678,76561198275493780,Tomusz,0.782609,0.652174,78.521739
1,27,16,631,2668,139678,76561198795628102,20 TE MATAR 70 CORRER,1.173913,0.695652,116.000000
2,20,16,679,2176,139678,76561198361860424,ar7C,0.869565,0.695652,94.608696
3,20,16,669,2123,139678,76561198057334495,Salies,0.869565,0.695652,92.304348
4,12,18,607,1734,139678,76561198845004604,VAI TOMANDO,0.521739,0.782609,75.391304
5,11,17,810,1245,139678,76561198202386377,mtk,0.478261,0.739130,54.130435
6,15,16,685,1658,139678,76561198876987759,jv,0.652174,0.695652,72.086957
7,11,16,808,958,139678,76561198264751454,endmostttJ,0.478261,0.695652,41.652174
8,7,19,619,929,139678,76561199162845943,Matheuss_bfr,0.304348,0.826087,40.391304
9,26,18,671,2831,139678,76561198954173928,ZezinS CSGOSKINS,1.130435,0.782609,123.086957

In [156]:
deaths_df = next((df for event_name, df in all_events if event_name == 'player_death'), None)
deaths_df

,assistedflash,assister_name,assister_steamid,attacker_name,attacker_steamid,attackerblind,attackerinair,distance,dmg_armor,dmg_health,...,thrusmoke,tick,total_rounds_played,user_name,user_steamid,weapon,weapon_fauxitemid,weapon_itemid,weapon_originalowner_xuid,wipe
0,False,None,None,mtk,76561198202386377,False,False,18.962286,0,121,...,False,4040,0,20 TE MATAR 70 CORRER,76561198795628102,usp_silencer,17293822569177546813,41628055053,,0
1,False,None,None,jv,76561198876987759,False,False,12.763697,0,102,...,False,4390,0,Salies,76561198057334495,glock,17293822569155067908,23890322503,,0
2,False,Salies,76561198057334495,Matheuss_bfr,76561199162845943,False,False,28.323685,0,28,...,False,5150,0,VAI TOMANDO,76561198845004604,usp_silencer,17293822569104343101,39657986563,,0
3,False,Matheuss_bfr,76561199162845943,mtk,76561198202386377,False,False,18.261671,0,122,...,False,5985,0,jv,76561198876987759,usp_silencer,17293822569177546813,41628055053,,0
4,False,Salies,76561198057334495,Tomusz,76561198275493780,False,False,16.572485,0,132,...,False,6150,0,endmostttJ,76561198264751454,p250,17293822569153626148,23888584241,,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163,False,None,None,20 TE MATAR 70 CORRER,76561198795628102,False,False,9.239608,4,22,...,False,138399,22,Tomusz,76561198275493780,m4a1,17293822569155854352,40766852620,,0
164,False,None,None,20 TE MATAR 70 CORRER,76561198795628102,False,False,4.801548,4,22,...,False,138492,22,Salies,76561198057334495,m4a1,17293822569155854352,40766852620,,0
165,False,None,None,20 TE MATAR 70 CORRER,76561198795628102,False,False,3.676097,0,130,...,False,139020,22,ZezinS CSGOSKINS,76561198954173928,m4a1,17293822569155854352,40766852620,,0
166,False,VAI TOMANDO,76561198845004604,20 TE MATAR 70 CORRER,76561198795628102,False,False,17.711828,0,34,...,False,139279,22,mtk,76561198202386377,m4a1_silencer,17293822569102704700,40285892466,,0
167,False,None,None,None,None,False,False,0.000000,74,571,...,False,139485,22,20 TE MATAR 70 CORRER,76561198795628102,planted_c4,,,,0

In [157]:
multikills = deaths_df[["attacker_steamid", "total_rounds_played"]].groupby(["attacker_steamid", "total_rounds_played"]).size().reset_index(name="kills")
multikills = multikills[multikills["kills"] > 1]
multikills = multikills["attacker_steamid"].value_counts().reset_index(name="multikills")
multikills["proportion"] = multikills["multikills"] / rounds_played
multikills

    attacker_steamid  multikills  proportion
0  76561198057334495           8    0.347826
1  76561198954173928           8    0.347826
2  76561198795628102           7    0.304348
3  76561198361860424           5    0.217391
4  76561198275493780           5    0.217391
5  76561198845004604           4    0.173913
6  76561198876987759           4    0.173913
7  76561198202386377           2    0.086957
8  76561198264751454           2    0.086957

In [189]:
round_winners = parser.parse_event("round_end")
round_winners

           reason  round    tick winner
0    bomb_defused      2    6650     CT
1       ct_killed      3   12120      T
2        t_killed      4   17700     CT
3        t_killed      5   22780     CT
4        t_killed      6   26855     CT
5    time_ran_out      7   35943     CT
6    time_ran_out      8   45031     CT
7    bomb_defused      9   55579     CT
8    bomb_defused     10   61127     CT
9       ct_killed     11   64742      T
10       t_killed     12   70318     CT
11      ct_killed     13   76261      T
12   bomb_defused     14   82655     CT
13       t_killed     15   87869     CT
14      ct_killed     16   93842      T
15   bomb_defused     17   99711     CT
16      ct_killed     18  106846      T
17       t_killed     19  113977     CT
18      ct_killed     20  118410      T
19       t_killed     21  122460     CT
20       t_killed     22  128164     CT
21       t_killed     23  133019     CT
22  bomb_exploded     24  139485      T

In [ ]:
openers = deaths_df.loc[deaths_df.groupby('total_rounds_played')['tick'].idxmin(), ['total_rounds_played', 'attacker_steamid', 'tick']]
openers["attacker_steamid"] = openers["attacker_steamid"].astype(int)
openers_steamids = openers["attacker_steamid"].astype(int).values
opener_ticks = openers["tick"].values
openers_teams = parser.parse_ticks(["team_name"], ticks=opener_ticks, players=openers_steamids)
openers = openers.merge(openers_teams, left_on=['tick', 'attacker_steamid'], right_on=['tick', 'steamid'], how='left')
openers = openers[["total_rounds_played", "attacker_steamid", "team_name"]]
openers["team_name"] = openers["team_name"].replace({"TERRORIST": "T"})
openers.columns = ["round", "opener_steamid", "opener_team"]
openers["winner_team"] = round_winners["winner"]
openers["conversion"] = openers["opener_team"] == openers["winner_team"]
openers

    round     opener_steamid opener_team winner_team  conversion
0       0  76561198202386377          CT          CT        True
1       1  76561198795628102           T           T        True
2       2  76561198275493780          CT          CT        True
3       3  76561198954173928          CT          CT        True
4       4  76561198202386377          CT          CT        True
5       5  76561198057334495          CT          CT        True
6       6  76561198845004604           T          CT       False
7       7  76561198057334495          CT          CT        True
8       8  76561198954173928          CT          CT        True
9       9  76561198361860424           T           T        True
10     10  76561198876987759           T          CT       False
11     11  76561198795628102           T           T        True
12     12  76561198876987759          CT          CT        True
13     13  76561198275493780           T          CT       False
14     14  76561198954173928           T           T        True
15     15  76561198264751454          CT          CT        True
16     16  76561198876987759          CT           T       False
17     17  76561198361860424          CT          CT        True
18     18  76561198845004604          CT           T       False
19     19  76561198264751454          CT          CT        True
20     20  76561198795628102          CT          CT        True
21     21  76561198275493780           T          CT       False
22     22  76561198275493780           T           T        True

In [218]:
openers_counts = pd.DataFrame(openers["opener_steamid"].value_counts()).reset_index()
openers_counts = openers_counts.join(
    pd.DataFrame(openers[openers["conversion"] == True]["opener_steamid"].value_counts()).reset_index().set_index("opener_steamid"),
    on="opener_steamid",
    rsuffix="_conv"
)
openers_counts = openers_counts.fillna(0)
openers_counts["conv_proportion"] = openers_counts["count_conv"] / openers_counts["count"]
openers_counts["round_proportion"] = openers_counts["count_conv"] / rounds_played
openers_counts

      opener_steamid  count  count_conv  conv_proportion  round_proportion
0  76561198275493780      4         2.0         0.500000          0.086957
1  76561198954173928      3         3.0         1.000000          0.130435
2  76561198795628102      3         3.0         1.000000          0.130435
3  76561198876987759      3         1.0         0.333333          0.043478
4  76561198202386377      2         2.0         1.000000          0.086957
5  76561198057334495      2         2.0         1.000000          0.086957
6  76561198845004604      2         0.0         0.000000          0.000000
7  76561198361860424      2         2.0         1.000000          0.086957
8  76561198264751454      2         2.0         1.000000          0.086957

In [227]:
impact_formula = lambda a, b, c: 3.73761914 * a + 2.886383 * b + 0.09009486 * c + 0.07304849

In [346]:
# TESTE: IMPACT DO ZEZIN
test_id = 76561198954173928
try:
    rounds_w_multikill = multikills[multikills["attacker_steamid"] == str(test_id)]["proportion"].values[0]
except IndexError:
    rounds_w_multikill = 0
try:
    opening_kills_per_round = openers_counts[openers_counts["opener_steamid"] == test_id]["round_proportion"].values[0]
except IndexError:
    opening_kills_per_round = 0
try:
    winpct_after_opening_kill = openers_counts[openers_counts["opener_steamid"] == test_id]["conv_proportion"].values[0]
except IndexError:
    winpct_after_opening_kill = 0

test_impact = impact_formula(rounds_w_multikill, opening_kills_per_round, winpct_after_opening_kill)
test_impact

np.float64(1.8396695291304348)

In [354]:
rounds_w_multikill, opening_kills_per_round, winpct_after_opening_kill

(np.float64(0.21739130434782608),
 np.float64(0.08695652173913043),
 np.float64(0.5))

In [347]:
kast_data = {}
for r in range(rounds_played):
    kast_data[r] = {}
    for p in steamid_name_map:
        kast_data[r][p] = False

current_round = 0
attacker_victim_round = {}

for index, row in deaths_df.iterrows():
    roundno = row['total_rounds_played']
    attacker_id = row['attacker_steamid']
    victim_id = row['user_steamid']
    if attacker_id is None or victim_id is None:
        continue
    attacker_id = int(attacker_id)
    victim_id = int(victim_id)
    if roundno != current_round:
        # if survived
        for p in steamid_name_map.keys():
            if p not in attacker_victim_round.values():
                kast_data[roundno][p] = True

        current_round = roundno
        attacker_victim_round = {}
    attacker_victim_round[attacker_id] = victim_id
    # if killed
    kast_data[roundno][attacker_id] = True
    assister_id = row['assister_steamid']
    # if assisted
    if assister_id:
        assister_id = int(assister_id)
        kast_data[roundno][assister_id] = True
    # if traded
    # if victim in attacker_victim_round as attacker, then victim was traded
    if victim_id in attacker_victim_round:
        # get who died to the victim
        traded_id = attacker_victim_round[victim_id]
        kast_data[roundno][traded_id] = True

In [348]:
kast_df = pd.DataFrame(kast_data)
# sum each row
kast_df["kast"] = kast_df.sum(axis=1) / rounds_played
kast_df["steamid"] = kast_df.index
kast_df = kast_df.reset_index(drop=True)
kast_df = kast_df[['steamid', 'kast']]
kast_df

             steamid      kast
0  76561198795628102  0.869565
1  76561198845004604  0.739130
2  76561198361860424  0.782609
3  76561198264751454  0.869565
4  76561198876987759  0.826087
5  76561198275493780  0.869565
6  76561198057334495  0.869565
7  76561198954173928  0.782609
8  76561199162845943  0.782609
9  76561198202386377  0.826087

In [349]:
# "kast", "kpr", "dpr", "impact", "adr", bias
# 0.79697728,  0.42331173, -0.39860167,  0.2394093 ,  0.00280917, -0.00879399
def rating_formula(kast, kpr, dpr, impact, adr):
    res = 0
    res += 0.79697728 * kast
    res += 0.42331173 * kpr
    res += -0.39860167 * dpr
    res += 0.2394093 * impact
    res += 0.00280917 * adr
    res += -0.00879399
    return res

In [350]:
# RATING DO ZEZIN
test_kast = kast_df[kast_df["steamid"] == test_id]["kast"].values[0]
test_kpr = player_data_df[player_data_df["steamid"] == test_id]["kpr"].values[0]
test_dpr = player_data_df[player_data_df["steamid"] == test_id]["dpr"].values[0]
test_adr = player_data_df[player_data_df["steamid"] == test_id]["adr"].values[0]

print(test_kast, test_kpr, test_dpr, test_impact, test_adr)

test_rating = rating_formula(test_kast, test_kpr, test_dpr, test_impact, test_adr)

print(f'Rating 2.0 do Zezin: {test_rating}')

0.782608695652174 1.1304347826086956 0.782608695652174 1.8396695291304348 123.08695652173913
Rating 2.0 do Zezin: 1.5677107098526206

In [351]:
# TESTE: IMPACT DO ZEZIN
test_id = 76561198275493780
try:
    rounds_w_multikill = multikills[multikills["attacker_steamid"] == str(test_id)]["proportion"].values[0]
except IndexError:
    rounds_w_multikill = 0
try:
    opening_kills_per_round = openers_counts[openers_counts["opener_steamid"] == test_id]["round_proportion"].values[0]
except IndexError:
    opening_kills_per_round = 0
try:
    winpct_after_opening_kill = openers_counts[openers_counts["opener_steamid"] == test_id]["conv_proportion"].values[0]
except IndexError:
    winpct_after_opening_kill = 0

test_impact = impact_formula(rounds_w_multikill, opening_kills_per_round, winpct_after_opening_kill)
test_impact

np.float64(1.1816116460869563)

In [352]:
def get_rating(player_id):
    print(player_id)
    rounds_w_multikill = multikills[multikills["attacker_steamid"] == str(player_id)]["proportion"]
    if len(rounds_w_multikill) == 0:
        rounds_w_multikill = 0
    else:
        rounds_w_multikill = rounds_w_multikill.values[0]

    opening_kills_per_round = openers_counts[openers_counts["opener_steamid"] == player_id]["round_proportion"]
    if len(opening_kills_per_round) == 0:
        opening_kills_per_round = 0
    else:
        opening_kills_per_round = opening_kills_per_round.values[0]

    winpct_after_opening_kill = openers_counts[openers_counts["opener_steamid"] == player_id]["conv_proportion"]
    if len(winpct_after_opening_kill) == 0:
        winpct_after_opening_kill = 0
    else:
        winpct_after_opening_kill = winpct_after_opening_kill.values[0]

    impact = impact_formula(rounds_w_multikill, opening_kills_per_round, winpct_after_opening_kill)

    kast = kast_df[kast_df["steamid"] == player_id]["kast"].values[0]
    kpr = player_data_df[player_data_df["steamid"] == player_id]["kpr"].values[0]
    dpr = player_data_df[player_data_df["steamid"] == player_id]["dpr"].values[0]
    adr = player_data_df[player_data_df["steamid"] == player_id]["adr"].values[0]

    print(kast, kpr, dpr, impact, adr)

    return rating_formula(kast, kpr, dpr, impact, adr)

In [353]:
df_rating = {}
for player_id in steamid_name_map.keys():
    player_name = steamid_name_map[player_id]
    df_rating[player_name] = np.round(get_rating(player_id), 2)
df_rating = pd.DataFrame(df_rating.items(), columns=["name", "rating"])
df_rating

76561198795628102
0.8695652173913043 1.173913043478261 0.6956521739130435 1.6771643491304347 116.0
76561198845004604
0.7391304347826086 0.5217391304347826 0.782608695652174 0.72306921 75.3913043478261
76561198361860424
0.782608695652174 0.8695652173913043 0.6956521739130435 1.2266590760869565 94.6086956521739
76561198264751454
0.8695652173913043 0.4782608695652174 0.6956521739130435 0.7391435360869566 41.65217391304348
76561198876987759
0.8260869565217391 0.6521739130434783 0.6956521739130435 0.8785957430434783 72.08695652173913
76561198275493780
0.8695652173913043 0.782608695652174 0.6521739130434783 1.1816116460869563 78.52173913043478
76561198057334495
0.8695652173913043 0.8695652173913043 0.6956521739130435 1.7141746160869564 92.30434782608695
76561198954173928
0.782608695652174 1.1304347826086956 0.782608695652174 1.8396695291304348 123.08695652173913
76561199162845943
0.782608695652174 0.30434782608695654 0.8260869565217391 0.07304849 40.391304347826086
76561198202386377
0.8260869565217391 0.4782608695652174 0.7391304347826086 0.7391435360869566 54.130434782608695

                    name  rating
0  20 TE MATAR 70 CORRER    1.63
1            VAI TOMANDO    0.87
2                   ar7C    1.27
3             endmostttJ    0.90
4                     jv    1.06
5                 Tomusz    1.26
6                 Salies    1.44
7       ZezinS CSGOSKINS    1.57
8           Matheuss_bfr    0.55
9                    mtk    0.89